.Dashboard-content {
    text-align: left;
}

.Dashboard-content-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.Dashboard-content-header-avatar {
    height: 96px;
    border-radius: 48px;
}

.Dashboard-content-issues-container {
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 2em;
}
