* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #003399 0%,#7db9e8 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}
h1 {
    color: #ff9900;
}
h2 {
    color: #ff6666;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
